/* General Reset and Transitions */
* {
    padding: 0;
    margin: 0;
    transition: all 300ms;
}

/* Image Row Container */
.images-row {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Image Container */
.image-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

/* Cloned Image Container */
.imcd {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 25%;
    opacity: 0;
    cursor: default;
}

.imcd-active {
    opacity: 1;
}

.imcd .image-info-link {
    opacity: 1;
}

.imcd .image-info-location {
    margin-bottom: 30px;
}

/* Image Styles */
.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Image Overlay */
.image-overall-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
}

/* Image Info Container */
.image-info {
    z-index: 2;
    color: white;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    padding: 25px 40px;
}

/* Image Info Title */
.image-info-title {
    font-size: 38px;
    line-height: 38px;
    letter-spacing: -1px;
    transform: scale(1, 1.01);
    font-family: 'DIN Condensed', Arial, sans-serif;
    vertical-align: top;
    margin-bottom: 10px;
}

/* Image Info Location */
.image-info-location {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 12px;
}

/* Image Info Link */
.image-info-link {
    text-decoration: none;
    position: relative;
    color: #01CEF4;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    top: -20px;
    opacity: 0;
}

/* Info Link Icon */
.info-link-icon {
    transform: translate(2px, 4px);
}

/* Blur Cover */
.blur-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 3;
}

/* Responsive Styles */
@media screen and (max-width: 750px) {
    .image-info {
        padding: 10px 10px;
    }

    .image-info-title {
        font-size: 30px;
    }

    .imcd {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .image-info {
        display: none;
    }

    .imcd {
        width: 75%;
    }

    .imcd .image-info {
        display: block;
    }
}
